<form method="post" action="{{ path('app_jardinenfant_delete', {'idj': jardinenfant.idj}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ jardinenfant.idj) }}">
    <button class="btn">Delete</button>
</form>
